{% extends "base.html" %}
{% block title %}Add Movie{% endblock %}
{% block content %}
<div class="container" style="backgound-color:blue">
	<h1>Add a movie</h1>
	{%set msgs = get_flashed_messages()%}
	{%for each in msgs %}
	<div class="alert alert-info" role="alert">
		{{each}}
	</div>
	{%endfor%}
		<div class="row">
			{% for results in searchresults %}
				<div class="col">
					<div class="card" style="width: 20rem;">
						<object data="{{results["Poster"]}}" type="image/png">
							<!--Fallback image if original does not exist-->
							<img class="card-img-top" src="static/IMGDNE.png" alt="Card image cap">
						</object>
						<div class="card-body" style="overflow:hidden">
							<form action="/movie" method="POST">
							    <button type="submit" class="btn btn-link" name="title" value="{{results["imdbID"]}}" style="white-space:normal;">{{results["Title"]}}</button>
							</form>
							<br>
							<form action="/profile" method="POST">
							    <button class="btn btn-primary" type="submit" name="add" value={{results["imdbID"]}}>
							        Add
							    </button>

							</form>

						</div>
					</div>
					<br>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
