{% extends "base.html" %}
	{% block head %}
	{% block title %}Add Movie{% endblock %}
	<!--<link rel="stylesheet" href="cssfile.css">-->
	{% endblock %}
{% block content %}
{%set msgs = get_flashed_messages()%}


{%for each in msgs %}
<div class="alert alert-info" role="alert">
    <h2>{{each}}</h2>
</div>
{%endfor%}
    <h1>Add a movie</h1>
    <form action="/addmovie">
        Search: <input type="text" name="movie">
        <input type="submit" value="Search">
    </form>
    {% for results in searchresults %}
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src={{results["Poster"]}} alt="Card image cap">
        <div class="card-body" style="oveflow:auto">
            <form action="/movie" method="POST">
                <button type="submit" class="btn btn-link" name="title" value="{{results["imdbID"]}}">{{results["Title"]}}</button>
            </form>
            <br>
            <form action="/addmovie" method="POST">
				
                <button class="btn btn-primary" type="submit" name="add" value={{results["imdbID"]}}>
                    Add
                </button>
				
            </form>
            
        </div>
    </div>
    <br>
    {% endfor %}
    
{% endblock %}
