body, html {
  height: 100%;
  background:#666;
}

.bg {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/12/12/858715/38ab8700ce1051a9b2311504d06f8289-700.jpg");
  height: auto;
}

.container {
	background:#432;

}
