<!--		
						<!--<p>
						{{recmovie["Plot"]}}
                        </p>-->
                        <!--<div container>
                                <div class="card" style="width: 18rem;height: 4.5rem">
                                    <div class="row">
                                        <div class="col-md-7">
                                                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" alt="">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="card-body">
                                                <p class="card-text" style="size:20%;">{{recmovie["imdbRating"]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>-->      

<!--
      <div class="item">
      <div style="background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-tile-movement-animation-background-seamless-loop_4vl4fmake__F0000.png);background-size: cover;">
      	<div class="row">
      		<div class="column-md-2">
        		<img src="{{recmovie["Poster"]}}" alt="" style="width:90%;padding:50px">
        	</div>
        	<div class="column-md-2" style="overflow-wrap: break-word;">
						<h2>{{recmovie["Title"]}}</h2>
											<!--	
						<p>{{recmovie["Plot"]}}</p>
					-->
<!--					</div>
				</div>
				</div>
      </div>
    
     <div class="item">
      <div style="background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-tile-movement-animation-background-seamless-loop_4vl4fmake__F0000.png);background-size: cover;">
      	<div class="row">
      		<div class="column-md-2">
        		<img src="{{recmovie["Poster"]}}" alt="" style="width:90%;padding:50px">
        	</div>
        	<div class="column-md-2" style="overflow-wrap: break-word;">
						<h2>{{recmovie["Title"]}}</h2>
											<!--	
						<p>{{recmovie["Plot"]}}</p>
					-->
<!--					</div>
				</div>
				</div>
      </div>
      
<div class="item">
      <div style="background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-tile-movement-animation-background-seamless-loop_4vl4fmake__F0000.png);background-size: cover;">
      	<div class="row">
      		<div class="column-md-2">
        		<img src="{{recmovie["Poster"]}}" alt="" style="width:90%;padding:50px">
        	</div>
        	<div class="column-md-2" style="overflow-wrap: break-word;">
						<h2>{{recmovie["Title"]}}</h2>
											<!--	
						<p>{{recmovie["Plot"]}}</p>
					-->
	<!--				</div>
				</div>
				</div>
      </div>
<div class="item">
      <div style="background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-tile-movement-animation-background-seamless-loop_4vl4fmake__F0000.png);background-size: cover;">
      	<div class="row">
      		<div class="column-md-2">
        		<img src="{{recmovie["Poster"]}}" alt="" style="width:90%;padding:50px">
        	</div>
        	<div class="column-md-2" style="overflow-wrap: break-word;">
						<h2>{{recmovie["Title"]}}</h2>
                                      
                        <!--	
						<p>{{recmovie["Plot"]}}</p>
					-->
<!--					</div>
				</div>
				</div>
      </div>
    </div>
-->
