{% extends "base.html" %}
	{% block head %}
	{% block title %}{{info['Title']}}{% endblock %}
	<!--<link rel="stylesheet" href="cssfile.css">-->
    {% endblock %}


{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ url_for('static',filename='about.html') }}> About</a>
			</li>
			
		</ul></div><div  style="margin-right: auto;">
			<form class="form-inline my-2 my-lg-0" href="addmovie" style="margin-right: auto;">
				<input class="form-control mr-sm-2" name="movie" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:teal">Search</button>
			</form>
		</div>
	</div>
</nav>

{% endblock %}


{% block content %}
    <div class="container">
        <div class="jumbotron" >
            <div class="row">
                <div class="col-4">
                    <img src="{{info['Poster']}}">
                </div>
                <div class="col-8">
                    <h1>{{info['Title']}}</h1>
                    <b>Released: </b>{{info["Released"]}}
                    <b>Genre: </b>{{info["Genre"]}}
                    <br><br>
                    <b>Summary: </b>
                    <p>{{info['Plot']}}</p>
                    <div class="score" style="width: 30px;height: 30px;font-family: Arial;color: #FFFFFF;font-size: 20px;text-align: center;background-color:green;float:left">
                        {{info["Metascore"]}}
                    </div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/2000px-Metacritic.svg.png" width="30" style="float:left">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" width="80" style="padding-left:20px;float:left">
                    <div class="rating" style="font-size:20px;float:left;font-weight: bold;">: {{info["imdbRating"]}}</div>
                    <div class="ourrating" style="font-size:20px;float:left;font-weight: bold;padding-left:20px;"> MyNextMovie: {{ourrating}} </div>
                    <br><br><br>
                    <b>Director: </b>{{info["Director"]}}
                    <br>
                    <b>Writers: </b>{{info["Writer"]}}
                    <br>
                    <b>Cast: </b>{{info["Actors"]}}
                    <br>
                    <b>{{info["Awards"]}}</b>
                    {% if indb %}
                    <form action="/movie" method="POST">
                        <button class="btn btn-primary" type="submit" name="add" value={{info["imdbID"]}}>
                            Add
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1>Reviews</h1>
            <br>
            {% for review in reviews %}
            <div class="media" style="background-color: white">
                <img class="mr-3" src="https://api.adorable.io/avatars/285/{{review[1]}}.png" alt="Generic placeholder image" height=80px>
                <div class="media-body" style="overflow-wrap: break-word;overflow: auto">
                  <h5 class="mt-0"><b>{{review[1]}}</b></h5>
                  <b>Rating: {{review[2]}}</b>
                  <br>
                  <pre style="font-family: Arial">{{review[0]}}</pre>
                </div>
            </div>
            <br>
            {% endfor %}
            <form action="/movie" method="POST">
                <div class="row">
                    <div class="col-2">
                        <label for="Rating">Rate Movie</label>
                        <select class="form-control" id="Rating" name="rating">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                          </select>
                    </div>
                </div>
                <div class="form-group">
                        <label for="review">Review:</label>
                        <textarea class="form-control" rows="5" name="review" placeholder="Example Review:"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" name="title" value="{{info["imdbID"]}}">
                    Submit
                </button> 
            </form>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
                <h1>Comments</h1>
                <br>
                {% for comment in comments %}
                <div class="media" style="background-color: white">
                        <img class="mr-3" src="https://api.adorable.io/avatars/285/{{comment[1]}}.png" alt="Generic placeholder image" height=80px>
                        <div class="media-body" style="overflow-wrap: break-word;overflow: auto">
                          <h5 class="mt-0"><b>{{comment[1]}}</b></h5>
                          <p>{{comment[0]}}</p>
                        </div>
                </div>
                <br>
                {% endfor %}
                <form action="/movie" method="POST">
                    <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" name="comment" placeholder="A perfect 5/7 movie"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" name="title" value="{{info["imdbID"]}}">
                        Submit
                    </button> 
                </form>
        </div>

    </div>
{% endblock %}
