{% extends "base.html" %}
	{% block head %}
	{% block title %}{{title}}{% endblock %}
	<!--<link rel="stylesheet" href="cssfile.css">-->
    {% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron" >
            <div class="row">
                <div class="col-4">
                    <img src="{{info['Poster']}}">
                </div>
                <div class="col-8">
                    <h1>{{info['Title']}}</h1>
                    <b>Released: </b>{{info["Released"]}}
                    <b>Genre: </b>{{info["Genre"]}}
                    <br><br>
                    <b>Summary: </b>
                    <p>{{info['Plot']}}</p>
                    <div class="score" style="width: 30px;height: 30px;font-family: Arial;color: #FFFFFF;font-size: 20px;text-align: center;background-color:green;float:left">
                        {{info["Metascore"]}}
                    </div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Metacritic.svg/2000px-Metacritic.svg.png" width="30" style="float:left">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" width="80" style="padding-left:20px;float:left">
                    <div class="rating" style="font-size:20px;float:left;font-weight: bold;">: {{info["imdbRating"]}}</div>
                    <br><br><br>
                    <b>Director: </b>{{info["Director"]}}
                    <br>
                    <b>Writers: </b>{{info["Writer"]}}
                    <br>
                    <b>Cast: </b>{{info["Actors"]}}
                    <br>
                    <b>{{info["Awards"]}}</b>
                    <form action="/profile" method="POST">
                        <button class="btn btn-primary" type="submit" name="add" value={{info["imdbID"]}}>
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
                <h1>Comments</h1>
                <br>
                {% for comment in comments %}
                <div class="media" style="background-color: white">
                        <img class="mr-3" src="https://api.adorable.io/avatars/285/{{comment[1]}}.png" alt="Generic placeholder image" height=80px>
                        <div class="media-body" style="overflow-wrap: break-word;overflow: auto">
                          <h5 class="mt-0"><b>{{comment[1]}}</b></h5>
                          <p>{{comment[0]}}</p>
                        </div>
                </div>
                <br>
                {% endfor %}
                <form action="/movie" method="POST">
                    <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" name="comment"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" name="title" value="{{title}}">
                        Submit
                    </button> 
                </form>
        </div>

    </div>
{% endblock %}
