{% extends "base.html" %}
	{% block head %}
	{% block title %}<title>{{user}}</title> {% endblock %}
	<link rel="stylesheet" href="cssfile.css">
	{% endblock %}
{% block content %}
    <h1>Recommended Movie</h1>
    <h2>{{recmovie["Title"]}}</h2>
    <p>{{recmovie["Plot"]}}</p>
    <img src="{{recmovie["Poster"]}}">
    <h1>Your Movies</h1>
    {% for movies in movielist %}
        <h2>{{movielist[movies]["Title"]}}</h2>
        <p>{{movielist[movies]["Plot"]}}</p>
        <img src="{{movielist[movies]["Poster"]}}">
    {% endfor %}
    <br>
    
{% endblock %}